*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
.logo{
    font-size: 2em;
    color: gold;
    user-select: none;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
}
.about-col{
    
    color: #fff;
    text-align: left;
}
.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navigation .btnLogin-popup:hover{
    background: #fff;
    color: #162938;
}
.welcome .box-container{
    display: flex;
    grid: 1.5em;
}
.welcome .box-container .box{
    width: 33%;
    background: var(--black);
    box-shadow: var(--box-shadow);
    text-align: center;
    text-align: center;
    padding-bottom: 1%;
}

.welcome .box-container .box .image .img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.welcome .box-container .box .image:hover img {
    transform: scale(1.1);
}
.welcome .box-container .box .content  {
    padding: 2rem;
    padding-top: 2rem;
}
.welcome .box-container .box h3{
    color: var(--light-color);
    font-size: 1.5rem;
    font-weight: 400;
}
