body{
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Marmelad', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;}
}
.container{
    justify-content: space-between;
    display:inline-flex;
    flex-wrap: wrap;

}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background:rgba(5, 40, 54, 1) ;
}
p{
    position: absolute;
    width: 120px;
    height: 25px;
    left: 540px;
    margin: 1px;
    
    
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 123.52%;
   
    
    letter-spacing: 0.025em;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);                          
}
.offer{
    position: absolute;
    width: 471px;
    height: 1.07px;
    left: 1040px;
    top: 200px;
}
.offer img{
}

.shadow{
    position: absolute;
    left: 1px;
    top: 1px;
}
.navbar-wrap li{
    position: absolute;
    width: 122px;
    height: 45px;
    left: 30px;
    top: 10px;
    list-style-type: none;
    
}
.icon{
    padding-left: 970px;
    width: 24px;
    height: 24px;
    
}
.navbar-wrap li p{
    font-family: 'Cormorant SC', serif;
    width: 96px;
    font-size: 21px;
    text-align: center;
    left: 12px;
    bottom: 7px;
    
}
.navbar-wrap li a{
    position: absolute;
    width: 5px;
    height: 20px;
    left: 1px;
    top: 10px;
}

.list{
    color: black;
    width: 110px;
    display: inline-flex;
    padding-left: 55px;
    padding-top: 1000px;
    text-decoration: none;
 
    font-style: normal;
    font-weight: 800;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0.025em;
    padding-left: 80px;
    padding-top: 4px;
    padding-bottom: 22px;
    padding-right: 17px;
    padding-left: 17px;
 

    box-sizing: border-box;

    
    width: 310px;
    height: 66px;
    text-align: center;
    left: 161px;
    background: ;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
   
    border-radius: 110px;
    margin-top: 100px;
    margin-left: 16px;
    margin-bottom: 10px;
    margin-right: 0,5;
}
.container > list{
    display: inline-flex;
}

.🦆icon"heart"
{
width:27.255517959594727px;
height:27px;
left:47.88px;
top:12px;
position:absolute;
}





