body{
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Marmelad', sans-serif;
    background-color:  rgba(5, 40, 54, 1);
}
.container{
    justify-content: space-between;
    display:inline-flex;
    flex-wrap: wrap;

}
p{
    position: absolute;
    width: 120px;
    height: 25px;
    left: 540px;
    margin: 1px;
    
    
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 123.52%;
   
    
    letter-spacing: 0.025em;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);                          
}
.offer{
    position: absolute;
    width: 781px;
    height: 1.07px;
    left: 140px;
    top: 20px;
    padding-left: 50px;
}
.img{
    position: absolute;
    width: 1206px;
    height: 55px;
    left: -1px;
    top: 2px;
}
.shadow{
    position: absolute;
    left: 1px;
    top: 1px;
}
.navbar-wrap li{
    position: absolute;
    width: 122px;
    height: 45px;
    left: 30px;
    top: 10px;
    list-style-type: none;
    
}
.icon{
    padding-left: 970px;
    width: 24px;
    height: 24px;
    
}
.navbar-wrap li p{
    font-family: 'Cormorant SC', serif;
    width: 96px;
    font-size: 21px;
    text-align: center;
    left: 12px;
    bottom: 7px;
    
}
.navbar-wrap li a{
    position: absolute;
    width: 5px;
    height: 20px;
    left: 1px;
    top: 10px;
}
